<div class="modal-header mar-top-30">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
    <h4 class="modal-title" ></h4>
</div>

<div class="modal-body">    
	<sigmajs graph="sigmaGraph" width="100%" height="500px" relative-size-node="false"></sigmajs>
</div>

<div class="modal-footer">
    <button type="submit" ng-click="clear()" class="btn btn-danger">
        <span class="glyphicon glyphicon-cross"></span>&nbsp;<span>Cancel</span>
    </button>
</div>