<div class="col-xs-12"
	style="background-color: #fff; margin-bottom: 20px; margin-top:15px">


	<div class="panel panel-primary">
		<div class="panel-heading">Application Metrics</div>
		<div class="panel-body">

			<button type="button" class="btn btn-primary" ng-click="refresh()">
				<span class="glyphicon glyphicon-refresh"></span>&nbsp;<span
					translate="metrics.refresh.button">Refresh</span>
			</button>
			</p>

			<h3>JVM Metrics</h3>
			<div class="row" ng-hide="updatingMetrics">
				<div class="col-md-4">
					<b>Memory</b>
					<p>Total Memory({{metrics['jvm.memory.total.used'] / 1000000 |
						number:0}}M / {{metrics['jvm.memory.total.max'] / 1000000 |
						number:0}}M)</p>
					<uib-progressbar min="0" max="metrics['jvm.memory.total.max']"
						value="metrics['jvm.memory.total.used']"
						class="progress-striped active" type="success">
					<span>{{metrics['jvm.memory.total.used'] * 100 /
						metrics['jvm.memory.total.max'] | number:0}}%</span> </uib-progressbar>

					<p>
						<span>Heap Memory</span> ({{metrics['jvm.memory.heap.used'] /
						1000000 | number:0}}M / {{metrics['jvm.memory.heap.max'] / 1000000
						| number:0}}M)
					</p>
					<uib-progressbar min="0" max="metrics['jvm.memory.heap.max']"
						value="metrics['jvm.memory.heap.used']"
						class="progress-striped active" type="success">
					<span>{{metrics['jvm.memory.heap.used'] * 100 /
						metrics['jvm.memory.heap.max'] | number:0}}%</span> 
					</uib-progressbar>
					
					<a class="btn btn-default btn-raised" ng-click="refreshThreadDumpData()" data-toggle="modal"
						data-target="#threadDump">
						<i class="icon-java-bold"></i> View Threads
					</a>
<!-- 					<p>
						<span>Non-Heap Memory</span>
						({{metrics['jvm.memory.non-heap.used'] / 1000000 | number:0}}M /
						{{metrics['jvm.memory.non-heap.committed'] / 1000000 |
						number:0}}M)
					</p>
					<uib-progressbar min="0"
						max="metrics['jvm.memory.non-heap.committed']"
						value="metrics['jvm.memory.non-heap.used"
						class="progress-striped active" type="success">
					<span>{{metrics['jvm.memory.non-heap.used'] * 100 /
						metrics['jvm.memory.non-heap.committed'] | number:0}}%</span> </uib-progressbar>
 -->				</div>

				<div class="col-md-4">
					<b translate="metrics.jvm.threads.title">Threads</b> (Total:
					{{metrics['jvm.threads.count']}}) 
					<p>
						<span translate="metrics.jvm.threads.runnable">Runnable</span>
						{{metrics['jvm.threads.runnable.count']}}
					</p>
					<uib-progressbar min="0"
						value="metrics['jvm.threads.runnable.count']"
						max="metrics['jvm.threads.count']" class="progress-striped active"
						type="success"> <span>{{metrics['jvm.threads.runnable.count']
						* 100 / metrics['jvm.threads.count'] | number:0}}%</span> </uib-progressbar>
					<p>
						<span translate="metrics.jvm.threads.timedwaiting">Timed
							Waiting</span> ({{metrics['jvm.threads.timed_waiting.count']}})
					</p>
					<uib-progressbar min="0"
						value="metrics['jvm.threads.timed_waiting.count']"
						max="metrics['jvm.threads.count']" class="progress-striped active"
						type="warning"> <span>{{metrics['jvm.threads.timed_waiting.count']
						* 100 / metrics['jvm.threads.count'] | number:0}}%</span> </uib-progressbar>
					<p>
						<span translate="metrics.jvm.threads.waiting">Waiting</span>
						({{metrics['jvm.threads.waiting.count']}})
					</p>
					<uib-progressbar min="0"
						value="metrics['jvm.threads.waiting.count']"
						max="metrics['jvm.threads.count']" class="progress-striped active"
						type="warning"> <span>{{metrics['jvm.threads.waiting.count']
						* 100 / metrics['jvm.threads.count'] | number:0}}%</span> </uib-progressbar>
					<p>
						<span translate="metrics.jvm.threads.blocked">Blocked</span>
						({{metrics['jvm.threads.blocked.count']}})
					</p>
					<uib-progressbar min="0"
						value="metrics['jvm.threads.blocked.count']"
						max="metrics['jvm.threads.count']" class="progress-striped active"
						type="success"> <span>{{metrics['jvm.threads.blocked.count']
						* 100 / metrics['jvm.threads.count'] | number:0}}%</span> </uib-progressbar>
				</div>
				<div class="col-md-4">
					<b translate="metrics.jvm.gc.title">Garbage collections</b>
					<div class="row">
						<div class="col-md-9" translate="metrics.jvm.gc.marksweepcount">Mark
							Sweep count</div>
						<div class="col-md-3 text-right">{{metrics['jvm.garbage.PS-MarkSweep.count']}}</div>
					</div>
					<div class="row">
						<div class="col-md-9" translate="metrics.jvm.gc.marksweeptime">Mark
							Sweep time</div>
						<div class="col-md-3 text-right">{{metrics['jvm.garbage.PS-MarkSweep.time']}}ms</div>
					</div>
					<div class="row">
						<div class="col-md-9" translate="metrics.jvm.gc.scavengecount">Scavenge
							count</div>
						<div class="col-md-3 text-right">{{metrics['jvm.garbage.PS-Scavenge.count']}}</div>
					</div>
					<div class="row">
						<div class="col-md-9" translate="metrics.jvm.gc.scavengetime">Scavenge
							time</div>
						<div class="col-md-3 text-right">{{metrics['jvm.garbage.PS-Scavenge.time']}}ms</div>
					</div>
				</div>
			</div>

			<div class="well well-lg" ng-show="updatingMetrics"
				translate="metrics.updating">Updating...</div>

		<hr>	

		<div class="row">
				<div class="col-md-6" >

				<div class="panel panel-primary">
				    <div class="panel-heading">
				        <i class="fa fa-server fa-fw"></i> CodeShip
				    </div>
				    <!-- /.panel-heading -->
				    <div class="panel-body panel-scroll">
				        <div class="list-group">
				            <a ng-click="navigate(build)" class="list-group-item" ng-repeat="build in response.codeship.data.builds | limitTo : CILimit">
				                <i class="fa fa-upload fa-fw"></i>
				                {{build.message}}
				                <em>Branch: {{build.branch}} Status: {{build.status}}</em>
				                
				                <span class="pull-right text-muted small">
				                	<em>{{build.finished_at}}</em>
				                </span>
				            </a>
				        </div>
				        <!-- /.list-group -->

				    </div>
				    <!-- /.panel-body -->
					<div class="panel-footer">
						<a ng-click="expandCI(CILimit)" class="btn btn-primary btn-block">View More Alerts</a>
					</div>
				    
			</div>

		</div>
		<div class="col-md-6">
				<div class="panel panel-primary">
						<div class="panel-heading">
								<i class="fa fa-file fa-fw"></i> Logs
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body panel-scroll">
								<div class="list-group">
										<a ng-href="{{trace.info.path}}" class="list-group-item" ng-repeat="trace in response.trace.data.content  | limitTo : TRLimit">
												<i class="fa fa-list-alt fa-fw"></i>
												{{trace.info.method}}
												{{trace.info.path }}
												<span class="pull-right text-muted small">
													<em>{{trace.info.headers.response.status}}</em>
													<em>{{trace.timestamp | amDateFormat:'DD-MM-YYYY@HH:mm'}}</em>
												</span>
										</a>
								</div>
								<!-- /.list-group -->

						</div>
						<!-- /.panel-body -->
					<div class="panel-footer">
						<a ng-click="expandTR(TRLimit)" class="btn btn-primary btn-block">View More Logs</a>
					</div>
			</div>
		</div>
	</div>
		
		</div>
		
		</div>
	</div>