<div>
	<div class="panel panel-primary">
		<div class="panel-heading">
	    	<h3 class="panel-title">Generate POST Request to API @ /api/solver/shortestPath </h3>
		</div>
	  	<div class="panel-body">
	  		<div class="row">
			  	<div class="col-sm-6">
				    <div class="btn-group" uib-dropdown is-open="status.isopen">
				      <button id="single-button" type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="disabled">
				        Generation Type <span class="caret"></span>
				      </button>
				      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
				        <li role="menuitem"><a ng-click="DataRandomSeed(nVehicles.n)">Random Seed</a></li>
				        <li role="menuitem"><a ng-click="DataRandom(nVehicles.n)">Random</a></li>
				        <li role="menuitem"><a ng-click="DataStatic(nVehicles.n)">Static Sample</a></li>
				        <li role="menuitem"><a ng-click="DataMona(nVehicles.n)">Mona Lisa DataSet</a></li>
				      </ul>
				    </div>
			  	</div>
			  	<div class="col-sm-6">
			  	  <div class="form-group">
				    <label for="nVehicles">Number of Vehicles to Generate</label>
				    <input type="number" class="form-control" id="nVehicles" placeholder="nVehicles" ng-model="nVehicles.n">
				  </div>
				</div>			  	
	  		</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
			    	<h3 class="panel-title">Results </h3>
				</div>
			  	<div class="panel-body">
			  		<div class="form-group">
					  	<textarea class="form-control" rows="5" style="width:100%; min-height:500px; height:auto">{{response.data}}</textarea>
				  	</div>
			  	</div>
			</div>

		</div>
	</div>
</div>	
