<footer class="">
    <div class="container">	    
        <ul class="bs-docs-footer-links">
            <li><a target="_blank" ng-href="mailto:sman6798@gmail.com"><i class="fa fa-envelope-o"></i> EMail &nbsp;</a></li>
            <li><a target="_blank" ng-href="https://uk.linkedin.com/in/stefanomantini"><i class="fa fa-linkedin"></i> Linkedin &nbsp; </a></li>
            <li><a target="_blank" ng-href="http://stefanomantini.co.uk"><i class="fa fa-globe"></i> Website &nbsp; </a></li>
            <li><a target="_blank" ng-href="https://twitter.com/sman6798"><i class="fa fa-twitter"></i> twitter &nbsp;</a></li>
        </ul>
       	<p>Developed by Stefano Mantini at Northumbria University 2015-2016 as part of Computer Science BSc Hons</p>
        <p>Code licensed <a rel="license" ng-href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
    </div>
</footer>